flask
werkzeug
numpy
torch
python-docx
docx2pdf
fpdf
transformers
openai
beautifulsoup4
python-dotenv
aiofiles
requests
PyPDF2
pywin32
pandas
reportlab
langchain
mistralai
scikit-learn
Pillow
