flask[async]
werkzeug
numpy
torch
python-docx
docx2pdf
fpdf
transformers
beautifulsoup4
python-dotenv
aiofiles
requests
PyPDF2
pywin32
pandas
reportlab
langchain
mistralai
scikit-learn
Pillow
# Ajout pour la détection NSFW
nudenet
watchdog
tqdm
